<div id="navigation">
  <a href="{{url}}/">home</a>
  <a href="{{url}}/resume">resume</a>
  <a href="{{url}}/contact">contact</a>
  <a href="{{url}}/blog">blog</a>
  <a href="{{twitter}}">
    <img style="display: inline; float: left; height: 20px; width: auto" src="/img/Twitter_logo_blue.png" />
  </a>
  <br class="clear: both" />
</div>
