<!DOCTYPE HTML>
<html>
	<head>
		<title>Lee Avital | {{title}}</title>
		<link type="text/css" rel="stylesheet" href="/css/style.css" />
		<script type="text/javascript" src="/js/scripts.js"></script>
	</head>	
	<body>
		<div id="navigation">
			<a href="{{url}}/">home</a>
            <a href="{{url}}/resume/static/resume.pdf">resume</a>
            <a href="{{url}}/contact">contact</a>
			<br class="clear: both" />
		</div>
		<div id="left">

			<ul id="side-links">
				{% for n in navigation %}
				<li> <a href="{{n.permalink}}">{{n.title}}</a></li>	
                <br />
                {% endfor %}	
			</ul>
		</div>	
		<div id="right">
			<h1>{{title}}</h1>
            {% if github %}
               <br /> 
               <a href="{{github}}">On Github</a>
               <br /> 
               <br />
            {% endif %}
			{{body}}
		</div>
	</body>


</html>
<!--Powered by bonsai : tinytree.info-->
